<form class="form" method="post" action="{{ action }}">

    <div class="row">
        <div class="col-md-6">
            <div class="control-group">
                <label class="control-label">Primeiro nome</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-bookmark"></i>
                    </div>
                    <input class="form-control" type="text" placeholder="Primeiro nome" name="first_name" value="{{ user.first_name }}">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="control-group">
                <label class="control-label">Email</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-bookmark"></i>
                    </div>
                    <input class="form-control" type="text" placeholder="Email" name="email" value="{{ user.email }}">
                </div>
            </div>
        </div>
    </div>

    {% if user.id is null %}
        <div class="row">
            <div class="col-md-12">
                <div class="control-group">
                    <label class="control-label">Password</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-bookmark"></i>
                        </div>
                        <input class="form-control" type="password" placeholder="Senha" name="password">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <button type="submit" class="btn btn-primary btn-block">
        <span class="fa fa-{{ submitIcon }}"></span>
    </button>
</form>

