{% extends 'layout.html.twig' %}

{% block content %}

    <div class="col-md-12 no-padding">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h4><i class="fa fa-list" aria-hidden="true"></i> Nova conta a receber</h4>
                    </div>
                    <div class="col-xs-6 text-right">
                        <ol class="breadcrumb">
                            <li><a href="{{ route('bill-pays.list') }}"><i class="fa fa-bookmark" aria-hidden="true"></i> Contas à pagar</a></li>
                            <li class="active"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {% set action = route('users.store') %}
                {% set submitIcon = 'floppy-disk' %}
                {% include 'users/_form.html.twig' %}
            </div>

        </div>
    </div>
{% endblock %}